extends layout

block content
  h1 Shehan's RESTful API
  h2 Time Microservice
  p  Example Usage
  code localhost:3001/August 14, 2016
  br
  code localhost:3001/32423423
  p Expected Output is JSON
  code {"unix":1379103948, 'natural': August 14, 2014}