extends layout

block content
  h1 Shehan's RESTful API
  h2 Time Microservice
  p  Example Usage
  code localhost:2999/August 14, 2016
  code localhost:2999/32423423
  p Expected Output is JSON
  code {"unix":1379103948,}